body {
  margin: 0 !important;
}
div.field {
  margin: 3px 0;
}
div.field input[type="text"],
div.field input[type="password"],
div.field input[type="number"],
div.field select {
  display: block;
  padding: 5px;
}

div.field label {
  font-size: 16px;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div.field button {
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
  padding: 7px;
}

div.field button:hover {
  background-color: blue;
}

.formulario {
  margin-top: 10rem;
  margin-left: 10rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
  display: block;
}
/* 
*
* Rodape
*
*/
footer div.center {
  text-align: center;
}
footer div.direita {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

/* 
* menu
*/
nav {
  background-color: black;
  width: 100%;
  padding: 0.5rem;
}
nav ul {
  list-style: none;
  display: inline-flex;
}

nav ul.usuario {
  float: right;
  margin-right: 50px;
}
nav ul li {
  background-color: black;
  color: white;
  padding: 5px;
  display: inline;
}
nav ul li a,
nav ul li a:visited,
nav ul li a:active,
nav ul li a:link {
  color: white;
  text-decoration: none;
}

table {
  width: 100%;
}

table thead {
  background-color: darkgray;
  color: brown;
}
table tbody tr:nth-child(2n + 1) {
  background-color: lightgray;
}

.mb-4 {
  margin-bottom: 4rem !important;
}
